*{
    margin: 10px;
    font-weight: bold;
    padding: 2px;
}

h1 {
    background: darkblue;
    color: lightgreen;
}

div {
    background: rgb(228, 228, 228);
    color:  darkblue;
}
 
li {
    background: lightgreen;
}

#texto-boas-vindas {
    background: red;
    color: white;
}

#explicacao-seletores {
    background: blue;
    color: white;
}

.seletores-mais-comuns {
    color: red;
}

.texto-maisculo {
    text-transform: uppercase;
}